* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  background-color: #fffffe;
  font-family: sans-serif;
  color: #272343;
}

.score {
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 1;
  transition: opacity 0.8s ease;
}

.score h2 {
  font-size: 25px;
}

.score p {
  text-align: center;
  padding-top: 20px;
  font-size: 30px;
}

.intro {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: opacity 0.5s ease;
}

.intro h1 {
  font-size: 50px;
}

.intro button,
.game-start button,
.resetBtn input {
  width: 230px;
  height: 80px;
  font-size: 20px;
  font-weight: 680;
  border-radius: 5px;
  border: none;
  background: none;
  background-color: #ffd803;
  cursor: pointer;
}

.game-start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 65%;
  transition: opacity 0.8s ease;
}

.choice {
  text-align: center;
  font-size: 40px;
}

.hands,
.select {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.select {
  margin-top: 10px;
}

.player-hand {
  transform: rotate(115deg);
}

.computer-hand {
  transform: rotate3d(105, 66, 0, 200deg);
}

div.fadeOut {
  opacity: 0;
  pointer-events: none;
}

div.fadeIn {
  opacity: 1;
  pointer-events: all;
}

.resetBtn {
  text-align: center;
  margin-top: 80px;
}

@keyframes shakePlayer {
  0% {
    transform: rotate(115deg) translateX(0px);
  }
  25% {
    transform: rotate(115deg) translateX(-50px);
  }
  50% {
    transform: rotate(115deg) translateX(0px);
  }
  75% {
    transform: rotate(115deg) translateX(-50px);
  }
  100% {
    transform: rotate(115deg) translateX(0px);
  }
}

@keyframes shakeComputer {
  0% {
    transform:rotate3d(105, 66, 0, 200deg) translateX(0px);
  }
  25% {
    transform:rotate3d(105, 66, 0, 200deg) translateX(-50px);
  }
  50% {
    transform:rotate3d(105, 66, 0, 200deg) translateX(0px);
  }
  75% {
    transform:rotate3d(105, 66, 0, 200deg) translateX(-50px);
  }
  100% {
    transform:rotate3d(105, 66, 0, 200deg) translateX(0px);
  }
}