* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  background-color: #fffffe;
  font-family: sans-serif;
  color: #272343;
}

.intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
}

.intro h1 {
  font-size: 50px;
  margin-bottom: 80px;
}

.intro button,
.game-start button {
  width: 230px;
  height: 80px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  background-color: #ffd803;
  cursor: pointer;
}

.game-start button {
  margin-right: 10px;
}

.game-start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 75%;
  transition: opacity 0.8s ease;
}

.choice {
  text-align: center;
  font-size: 50px;
  color: #ffd803;
  margin-bottom: 20px;
}

.hands,
.select {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.player-score,
.computer-score {
  text-align: center;
}

.hands p {
  font-weight: 600;
  font-size: 30px;
}

.hands h2 {
  margin-bottom: 40px;
  font-size: 20px;
}

.player-hand {
  transform: rotate(103deg);
}

.computer-hand {
  transform: rotate3d(91, 66, 0, 190deg);
}

div.fadeOut {
  opacity: 0;
  pointer-events: none;
}

div.fadeIn {
  opacity: 1;
  pointer-events: all;
}

@keyframes shakePlayer {
  0% {
    transform: rotate(103deg) translateX(0px);
  }
  25% {
    transform: rotate(103deg) translateX(-50px);
  }
  50% {
    transform: rotate(103deg) translateX(0px);
  }
  75% {
    transform: rotate(103deg) translateX(-50px);
  }
  100% {
    transform: rotate(103deg) translateX(0px);
  }
}

@keyframes shakeComputer {
  0% {
    transform:rotate3d(91, 66, 0, 190deg) translateX(0px);
  }
  25% {
    transform:rotate3d(91, 66, 0, 190deg) translateX(-50px);
  }
  50% {
    transform:rotate3d(91, 66, 0, 190deg) translateX(0px);
  }
  75% {
    transform:rotate3d(91, 66, 0, 190deg) translateX(-50px);
  }
  100% {
    transform:rotate3d(91, 66, 0, 190deg) translateX(0px);
  }
}